prune .pytest_cache
prune .ruff_cache
prune .github
prune tests
prune docs
exclude .gitattributes
exclude .gitignore
exclude .readthedocs.yml
exclude .coverage
exclude ruff.toml
exclude LICENSE
exclude changelog.yml
exclude codacy-coverage
exclude codecov*
exclude coverage.xml
exclude junit.xml
global-exclude __pycache__/*