body {
  --color-link-underline: rgba(0, 0, 0, 0);
  --color-link-underline--hover: var(--color-link);
  --color-inline-code-background: rgba(0, 0, 0, 0);
  --color-api-background-hover: var(--color-background-primary);
  --color-highlight-on-target: var(--color-background-primary) !important;
  
  --font-stack: "Inter", sans-serif !important;
  --font-stack--monospace: "Roboto Mono", monospace !important;
}

#furo-readthedocs-versions, .injected {
  visibility: hidden;
}

dd dt {
  color: var(--color-foreground-secondary);
}

aside.toc-drawer .docutils:hover, .sidebar-brand-text:hover {
  transition: 0.15s;
  filter: opacity(75%);
}

.highlight .c1, em {
  font-style: normal !important;
}

.highlight .nn {
  text-decoration: none !important;
}

h1 {
  font-weight: 900;
}

.sidebar-brand-text {
  font-weight: bolder;
}

.sidebar-scroll .reference.internal {
  color: var(--color-brand-primary);
}