name: Update changelog.rst
on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths:
      - changelog.yml
  pull_request: null
jobs:
  changelog:
    name: Update changelog.rst
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: x64
      - name: Install dependencies
        run: python3 -m pip install pyyaml
      - name: Run update script
        working-directory: docs
        run: python3 changelog.py
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.CI_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.CI_GPG_PASS }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          commit: -S
          message: 'chore: update changelog.rst'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}