name: Update changelog.rst
on:
  push:
    branches: [main]
    tags-ignore: ['**']
    paths: [changelog.yml]
  workflow_dispatch: null
jobs:
  changelog:
    name: Update changelog.rst
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          architecture: x64
      - name: Install dependencies
        run: python3 -m pip install pyyaml
      - name: Run update script
        run: python3 changelog.py
        working-directory: docs
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.CI_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.CI_GPG_PASS }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Push new commit
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit: -S
          message: 'chore: update changelog from manually invoked CI'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Override HEAD commit
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit: -S --amend --no-edit --no-reset-author
          message: ${{ github.event.head_commit.message }}
          push: --force-with-lease
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}