name: CI
on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths:
      - '.github/workflows/CI.yml'
      - 'python_weather/**/*.py'
  pull_request: null
jobs:
  ci:
    name: Run tests and pretty files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'
          architecture: x64
      - name: Install dependencies
        run: python3 -m pip install .
      - name: Run test
        run: python3 test.py
      - name: Install yapf
        run: |
          python3 -m pip install toml
          python3 -m pip install ruff
      - name: Lint files
        run: python3 -m ruff check
      - name: Pretty files
        if: ${{ secrets.CI_GPG_PRIVATE_KEY }}
        run: python3 -m ruff format
      - name: Import GPG key
        if: ${{ secrets.CI_GPG_PRIVATE_KEY }}
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.CI_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.CI_GPG_PASS }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit changes
        if: ${{ secrets.CI_GPG_PRIVATE_KEY }}
        uses: EndBug/add-and-commit@v9
        with:
          commit: -S
          message: 'style: prettier'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}