name: Publish
on:
  release:
    types: [created]
  workflow_dispatch: null
permissions:
  id-token: write
  contents: read
jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: publish
      url: https://pypi.org/p/python-weather
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - name: Install dependencies
        run: python3 -m pip install build twine
      - name: Build
        run: python3 -m build
      - name: Publish
        uses: pypa/gh-action-pypi-publish@v1
        with:
          provenance: true