name: Run tests and pretty files
on:
  push:
    branches: [main]
    tags-ignore: ['**']
    paths:
      - '.github/workflows/test.yml'
      - 'python_weather/**/*.py'
      - 'tests/*.py'
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - 'python_weather/**/*.py'
      - 'tests/*.py'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', 3.11, 3.12, 3.13, 3.14]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install test dependencies
        run: |
          python3 -m pip install .
          python3 -m pip install -r tests/requirements.txt
      - name: Install ruff
        if: ${{ matrix.python-version == 3.14 }}
        run: python3 -m pip install ruff
      - name: Run tests
        run: python3 -m pytest -x --cov=python_weather --cov-report term-missing --cov-report=xml --junitxml=junit.xml
      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.xml
          flags: python-${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        uses: codecov/test-results-action@v1
        with:
          files: ./junit.xml
          flags: python-${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload coverage results to Codacy
        if: ${{ github.event_name != 'pull_request' && matrix.python-version == 3.14 }}
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r coverage.xml
      - name: Lint files
        if: ${{ matrix.python-version == 3.14 }}
        run: python3 -m ruff check
      - name: Pretty files
        if: ${{ github.event_name != 'pull_request' && matrix.python-version == 3.14 }}
        run: python3 -m ruff format
      - name: Import GPG key
        if: ${{ github.event_name != 'pull_request' && matrix.python-version == 3.14 }}
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.CI_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.CI_GPG_PASS }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit changes
        if: ${{ github.event_name != 'pull_request' && matrix.python-version == 3.14 }}
        uses: EndBug/add-and-commit@v9
        with:
          commit: -S --amend --no-edit
          push: --force-with-lease
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}